# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****

# Get your Fireworks AI API Key here for reasoning models: https://fireworks.ai/account/api-keys
FIREWORKS_API_KEY=****

NEXT_PUBLIC_SUPABASE_URL=yuor_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=yuor_supabase_anon_key
